{% extends "base.html" %}

{% block head %}
	<title>{{ article_title }}</title>
	<meta property="og:title" content="{{article_title}}"/>
	<meta property="og:image" content="{{article_thumbnail_url}}"/>
	<meta property="og:description" content="{{article_subtitle}}"/>
	<meta property="og:image:width" content="1200"/>
	<meta property="og:image:height" content="627"/>
	<meta property="og:url" content="https://erikucenik.com/articles/{{article_path}}"/>
	<meta property="og:type" content="website"/>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/xcode.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
	<script>hljs.highlightAll();</script>

	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

	<link rel="stylesheet" type="text/css" href="https://erikucenik.com/static/article.css">
{% endblock %}

{% block main %}
	<a class="main__colorscheme-button" href="/">
		<img src="https://erikucenik.com/static/media/home.png"/>
	</a>
	<h1 class="main__title">{{article_title}}</h1>
	{{ html_content|safe }}
{% endblock %}
