{% extends "base.html" %}

{% block head %}
	<title>Erik Ucenik</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/index.css') }}">
	<script src="{{ url_for('static', path='/index.js') }}" defer></script>
{% endblock %}

{% block main %}
	<h1 class="main__title">ERIK UCENIK</h1>
	<p class="main__subtitle">Hey, here are some things I've done.</p>

	<nav class="social-media">
		<a class="social-media__link" href="https://youtube.com/@Erik-zq9yj" target="_blank">
			<img class="social-media__image" src="{{ url_for('static', path='/media/youtube.png') }}" alt="YouTube"></img>
		</a>
		<a class="social-media__link" href="https://github.com/erikucenik" target="_blank">
			<img class="social-media__image" src="{{ url_for('static', path='/media/github.png') }}" alt="GitHub"></img>
		</a>
		<a class="social-media__link" href="https://www.linkedin.com/in/erik-ucenik-6103082b1/" target="_blank">
			<img class="social-media__image" src="{{ url_for('static', path='/media/linkedin.png') }}" alt="LinkedIn"></img>
		</a>
		<input class="social-media__link" type="image" src="{{ url_for('static', path='/media/gmail.png') }}" onclick="copyMailAddress()"></input>
	</nav>

	<section class="articles">
		<h1 class="articles__header">My Articles</h1>

		<ul class="articles__list">
			{% for article in articles %}
			<li><article class="articles__article">
				<a class="articles__link" href="/articles/{{ article.path }}">
					<h1 class="articles__title">{{ article.title }}</h1>
					<p class="articles__subtitle">{{ article.subtitle }}</p>
				</a>
			</article></li>
			{% endfor %}
		</ul>
	</section>
{% endblock %}
